*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main:#D93636;
    --secondary: #d93636;
    --clear: #fff;
    --card-background:#f2f2f0;
    --text: #403f37;
    --container:#bfbfbf;
    
}
body{
   font-family: 'Montserrat';
   background-color:rgb(80, 79, 79);
}

